section.welcome
  h2.visually-hidden Welcome
  .welcome__container
    .welcome__wrap
      .welcome__background-img
      .welcome__text-wrap
        h3.welcome__text-title We grow #[span plants] and give you oxygen
        p.welcome__text-desc
          | Lorem Ipsum is simply dummy text of the printing and typesetting
          | industry. Lorem Ipsum has been the industry's standard dummy text
          | ever since the 1500s.
        button.button.welcome__text-button(type='button' onclick="window.location.href='#about'") LEARN MORE

