/* color */

$basic_font: #636060;
$basic_white: #ffffff;
$basic_black: #000000;
$basic_black--alfa25: rgba(0, 0, 0, 0.25);
$bg_section: #edf2ec;
$links_nav: #010201;
$basic_green: #499a18;
$basic_orange: #e06733;
$grey: #717171;
$dark_grey: #636060;
$border_card: #e3e1d5;
$btn_active-price: #d9d9d9;
$btn_active-contacts: #aea1a1;
$btn_active: #c1e698;
$btn_active--mini: #8ba07e;
$btn_contacts: #d6e7d2;
$btn_contacts--list: #dce9d9;
